<strong>Ola, {{ student }}</strong>
<p>Sua Matricula foi efetuada com Sucesso, confira os dados abaixo:</p>
<p>
  <strong>Estudante: </strong> {{ student }} <br />
  <strong>Data: </strong> {{ end_date }} <br /><br />
  <strong>Plano: </strong> {{ plan }} <br /><br />

<p>
  <img
    src="https://raw.githubusercontent.com/will-souza97/gympoint-backend/master/src/app/views/emails/img/{{ plan }}.png">
</p>

<strong>Total: </strong> {{ totalPrice }} <br /><br />
<strong>Preço/Mes: </strong> {{ priceMonth }} <br /><br />

</p>