<div>
  <p class="title">Sua Matricula foi efetuada com Sucesso! \O/</p>
  <p class="message">( Guarde uma cópia deste recibo.)</p>
</div>

<!-- Informações sobre os Dados Cadastrados -->
<p class="info">Informações do seu Cadastro:</p>
<div id="dados">
  <div>
    <label>Tipo do Plano:</label>
    <div>{{ plan }}</div>
  </div>

  <div>
    <label>Data do Cadastro:</label>
    <div>{{ start_date }}</div>
  </div>

  <div>
    <label>Duração do Plano:</label>
    <div>{{ duration.numberMonths }} {{ duration.months }}</div>
  </div>

  <div>
    <label>Data Termino do Plano:</label>
    <div>{{ end_date }}</div>
  </div>
</div>

<!-- Informações sobre os Detalhes do Pagamento -->
<p class="info">Detalhes do pagamento:</p>
<div id="detalhes">
  <div>
    <label>Descrição:</label>
    <div>{{ plan }}</div>
  </div>

  <div>
    <label>Distribuidora:</label>
    <div>GymPoint</div>
  </div>

  <div>
    <label>Preço:</label>
    <div>{{ duration.numberMonths }}x R$ {{ priceMonth }}</div>
  </div>
</div>

<!-- Pagamento Final -->
<p class="info"></p>
<div id="total">
  <label>TOTAL [BRL]</label>
  <div></div>
  <div>R$ {{ totalPrice }}</div>
</div>

<footer>
  Abraços, Equipe GymPoint
</footer>